@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background: #020617; /* Deep Slate 950 */
  color: #f8fafc;
}

/* Custom Scrollbar for the dropdown */
.scrollbar-thin::-webkit-scrollbar {
  width: 6px;
}
.scrollbar-thin::-webkit-scrollbar-track {
  background: #0f172a;
}
.scrollbar-thin::-webkit-scrollbar-thumb {
  background: #334155;
  border-radius: 3px;
}
